<h1 style="font-size:60px;text-align:center;">Welcome Home Page</h1>
<!-- <i></i> tag set text to italic. -->
<p style="text-align:center;font-size:30px;"><i>This is some text.</i></p>
<!-- The <hr> tag defines a thematic break in an HTML page, and is most often displayed as a horizontal rule. -->
<hr>
<h2 style="color:blue;font-family:verdana;font-size:300%;text-align:center;">This is heading 2</h2>
<p style="color:red;font-family:courier;text-align:center;">This is some other text.</p>
<hr>
<pre style="background-color:SlateGray;">
   My Bonnie lies over the ocean.

   My Bonnie lies over the sea.

   My Bonnie lies over the ocean.

   Oh, bring back my Bonnie to me.
</pre>
<p><em>This text is emphasized.</em></p>
<p><i>This text is italic.</i></p>
<p><mark>This text is mark.</mark></p>
<p><small>This text is small.</small></p>
<p><ins>This text is ins.</ins></p>
<p><del>This text is deleted.</del><p>
<%= link_to "候選人列表", candidates_path %>
<%= link_to "使用者列表", users_path %>
<%= link_to "留言板", posts_path %>
<%= link_to "BMI計算機", bmi_path %>